/* Global styles*/ 
body {
	color: var(--blue-dark);
	background-color: var(--offwhite);
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 80px auto;
}

.fourteenForty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.nineSixty {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.pad {
	padding-left: 15px;
	padding-right: 15px;
}

.slimpad {
	padding-left: 8px;
	padding-right: 8px;
}

/* Fonts*/
.c-red-text {
	color: var(--red);
}

.c-white-text {
	color: var(--offwhite);
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 25px;
	color: var(--blue-light);
}

h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 25px;
}

p {
	margin-bottom: 10px;
}

a.c-header-text {
	font-weight: 900;
	font-size: 20px;
}

.button a {
	display: inline-block;
	background-color: var(--blue-light);
	padding: 15px 30px;
	transition: 0.3s ease all;
}

.c-right__navbar a {
	font-size: 24px;
	text-transform: uppercase;	
}

ul.menu li a:hover {
	font-weight: 900;
}

/*Homepage*/
.c-hero {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url("img/hero.png");
	background-size: cover;
	background-position: center;
}

.c-hero::before {
	position: absolute;
	content: "";
	top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(54, 65, 86, 0.75);
}

.c-hero__content {
	color: var(--offwhite);
	text-align: center;
	font-size: 18px;
}

.c-main-content__holder {
	text-align: center;
	font-size: 16px;
}

.c-icon-boxes__holder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.c-icon-boxes__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 0 1 100%;
	padding: 40px 15px;
}

.c-icon-boxes__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-light);
	color: var(--offwhite);
	font-size: 130px;
	width: 240px;
    height: 240px;
    border-radius: 50%;
    border-style: 1px solid var(--grey);
    margin-bottom: 40px;
}

.button {
	color: var(--offwhite);
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}	

.button__white a {
	color: var(--blue-med);
	background-color: var(--offwhite);
	}

.button a:hover {
	background-color: var(--red);
}

.c-full-width-image {
	height: 650px;
	background-image: url("/img/prettydice.png");
	background-size: cover;
	background-position: center;
}

.c-two-column__holder {
	display: flex;
	flex-wrap: wrap;
	color: var(--offwhite);
	font-size: 20px;
}

.c-two-column__image {
	background-size: cover;
	background-position: center;
}

.c-two-column__content {
	flex: 0 1 100%;
	background-color: var(--blue-med);
	padding: 80px 60px;
}

.c-two-column__reverse {
	flex-direction: row-reverse;
}

/*Header*/
.c-site-header__holder {
	display: flex;
	justify-content: space-between;
	color: var(--blue-light);
}

.c-header__left {
	display: flex;
	align-items: center;
	padding: 20px;
}

.c-header__right {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
}

.c-header-right__contact-info {
	display: flex;
	flex-direction: column;
	text-align: right;
}

ul.menu {
	display: flex;
}

ul.menu li {
	display: inline-flex;
}

ul.menu li a {
	display: flex;
	margin-left: 20px;
}

/*Footer*/
.c-site-footer {
	background-color: var(--blue-dark)
}

.c-site-footer__holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-footer-text {
	color: var(--offwhite);
	font-size: 14px;
	padding: 0px 15px;
}

.c-footer-text a {
	font-weight: 700;
}

/*Media Query bullshit?*/
@media screen and (max-width: 991px) {
	.c-two-column__image {
		flex: 0 1 100%;
		padding-top: 50%;
	}
}

@media screen and (min-width: 992px) {
	.c-icon-boxes__box {
		flex: 0 1 calc(50% - 30px);
	}

	.c-two-column__content {
		flex: 0 1 50%;
	}

	.c-two-column__image {
		flex: 0 1 50%;
	}
}

@media screen and (min-width: 1366px) {
	.c-icon-boxes__box {
		flex: 0 1 calc(33.33% - 30px);

	}

	.c-two-column__content {
		flex: 0 1 50%;
	}

	.c-two-column__image {
		flex: 0 1 50%;
	}
}