/* Global styles*/ 
body {
	color: #11151C;
	background-color: #FFF8F0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 80px auto;
}

.fourteenForty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.nineSixty {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.pad {
	padding-left: 15px;
	padding-right: 15px;
}

.slimpad {
	padding-left: 8px;
	padding-right: 8px;
}

/* Fonts*/
.c-red-text {
	color: #9E2B25;
}

.c-white-text {
	color: #FFF8F0;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
	color: #364156;
}

h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.button a {
	display: inline-block;
	background-color: #364156;
	padding: 15px 30px;
}


/*Homepage*/
.c-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url("img/hero.png");
	background-size: cover;
	background-position: center;
	background-color: rgba(54, 65, 86, 0.75);
}

.c-hero__content {
	color: #FFF8F0;
	text-align: center;
	font-size: 18px;
}

.c-main-content__holder {
	text-align: center;
	font-size: 16px;
}

.c-icon-boxes__holder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.c-icon-boxes__box {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex: 0 1 100%;
}

.c-icon-boxes__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #364156;
	color: #FFF8F0;
	font-size: 130px;
	width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.button {
	color: #FFF8F0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}	

.c-full-width-image {
	height: 650px;
	background-image: url("/img/prettydice.png");
	background-size: cover;
	background-position: center;
}

.c-two-column__holder {
	display: flex;
	flex-wrap: wrap;
	color: #FFF8F0;
	font-size: 20px;
}

.c-two-column__image {
	background-size: cover;
	background-position: center;
}

.c-two-column__content {
	flex: 0 1 100%;
	background-color: #212D40;
	padding: 80px 60px;
}

.c-two-column__reverse {
	flex-direction: row-reverse;
}

/*Media Query bullshit?*/
@media screen and (max-width: 991px) {
	.c-two-column__image {
		flex: 0 1 100%;
		padding-top: 50%;
	}
}

@media screen and (min-width: 992px) {
	.c-icon-boxes__box {
		flex: 0 1 calc(50% - 30px);
		margin-top: 80px;
	}

	.c-two-column__content {
		flex: 0 1 50%;
	}

	.c-two-column__image {
		flex: 0 1 50%;
	}
}

@media screen and (min-width: 1366px) {
	.c-icon-boxes__box {
		flex: 0 1 calc(33.33% - 30px);
		margin-top: 80px;
	}

	.c-two-column__content {
		flex: 0 1 50%;
	}

	.c-two-column__image {
		flex: 0 1 50%;
	}
}