/* Global styles*/ 
body {
	color: #11151C;
	background-color: #FFF8F0;
	font-family: 'Roboto', sans-serif;
}

.container {
	margin: 80px auto;
}

.fourteenForty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.nineSixty {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.pad {
	padding-left: 15px;
	padding-right: 15px;
}

.slimpad {
	padding-left: 8px;
	padding-right: 8px;
}

/* Fonts*/
.c-red-text {
	color: #9E2B25;
}

h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 48px;
	margin-bottom: 25px;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
	color: #364156;
}

h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 20px;
}

/*Homepage*/
.c-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 650px;
	background-image: url("img/hero.png");
	background-size: cover;
	background-position: center;
	background-color: rgba(54, 65, 86, 0.75);
}

.c-hero__content {
	color: #FFF8F0;
	text-align: center;
	font-size: 18px;
}

.c-main-content__holder {
	text-align: center;
	font-size: 16px;
}

.c-icon-boxes__holder {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.c-icon-boxes__icon {
	background-color: #364156;
	color: #FFF8F0;
	width: 240px;
    height: 240px;
    border-radius: 50%;

}

.c-full-width-image {
	height: 650px;
	background-image: url("/img/prettydice.png");
	background-size: cover;
	background-position: center;
}

/*Media Query bullshit?*/
.c-icon-boxes__box {
	flex: 0 1 100%;
}

@media screen and (min-width: 992px;) {
	.c-icon-boxes__box {
		flex: 0 1 calc(50%-30px);
	}
}

@media screen and (min-width: 1365px;) {
	.c-icon-boxes__box {
		flex: 0 1 calc(33.33% - 30px);
	}
}